// Fonts
$f-raleway-extra-bold: "raleway-extra-bold", sans-serif;
$f-pacifico-reg: "pacifico-regular", sans-serif;
$f-raleway-light: "raleway-light", sans-serif; 
$f-raleway-reg: "raleway-regular", sans-serif;
$f-raleway-black: "raleway-black", sans-serif;
$f-raleway-bold: "raleway-bold", sans-serif;

// Animation
$a-base: box-shadow-block .5s infinite alternate;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box shadow
$bs-base: 1px 1px 5px black;

// Colors 
$c-light-black: #2626267e;
$c-darker-blue: #5585A2;
$c-darker-grey: #262626;
$c-light-green: #96B92C;
$c-light-red: #f25252;
$c-turquoise: #00B1B1;
$c-purple: #B07CF7;
$c-orange: #FF6033;
$c-form-a: #00C4C4;
$c-footer:#262626;
$c-gray: #9D9D9D;
$c-form: #63D0D4;
$c-blue: #355B82;
$c-white: #fff;
$c-black: #000;

// Font size
$fs-sm-footer: 25;
$fs-author: 13;
$fs-mounth: 21;
$fs-text: 17;
$fs-icon: 30;
$fs-base: 16;
$fs-link: 20;
$fs-logo: 50;
$fs-day: 32;
$fs-h2: 90;
$fs-h3: 60;
$fs-h4: 40;

// Line height
$lh-small: 25;
$lh-base: 27;
$lh-typic: 1;