extends ./src/_extends/common

block title 
  title Cahee

block content
  +banner()
  +section-about-us()
  +section-our-services()
  +section-gallery()
  +section-subscribe()
  +section-blog()
  +section-contact()
  +footer()